<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vender oro OSRS | Victory Gold</title>
        <%- include('../partials/head') %>
    </head>
    <body class="body">
        <header class="blur d-flex position-sticky top-0 z-3">
            <%- include('./partials/header') %>
        </header>
        <main>
            <%-include('./partials/forms/form-osrs-sell') %>
            <%-include('./partials/cards-sell')%>
            <%-include('./partials/text/text-osrs') %>
        </main>
        <footer class="footer"><%- include('./partials/footer') %></footer>
        <script src="/js/tawk/tawk-osrs-sell.js"></script>
    </body>
</html>
