<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Comprar oro | Victory Gold</title>
        <%- include('./partials/head') %>
    </head>
    <body class="body">
        <header class="blur d-flex position-sticky top-0 z-3">
            <%- include('./partials/header') %>
        </header>
        <main>
            <%-include('./partials/home-top') %>
            <%-include('./partials/home-mid')%>
            <%-include('./partials/text/text-buy') %>
        </main>
        <footer class="footer"><%- include('./partials/footer') %></footer>
        <script src="/js/tawk/tawk-soporte.js"></script>
    </body>
</html>
