<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>
    <body class="body">
        <header class="blur d-flex position-sticky top-0">
            <%- include('./partials/header') %>
        </header>
        <main>
            <%-include('./partials/forms/form-server') %>
            <%-include('./partials/cards')%> <%-include('./partials/text/text')
            %>
        </main>
        <footer class="footer"><%- include('./partials/footer') %></footer>
        <script src="/js/tawk/tawk-osrs.js"></script>
    </body>
</html>
