<div class="mobile-form">
    <div class="w-100 mobile justify-content-center">
        <div class="d-flex align-content-center col-10 mt-3">
            <img
                src="/images/icons/logo.svg"
                alt="Logo Victory Gold"
                style="width: 2em; height: 2em"
                class="align-self-center justify-center mx-2"
            />
            <h2 class="form-text-mobile mb-0 pb-2">¡Gracias por tu compra!</h2>
        </div>
    </div>
    
    <div class="w-100 p-3 rounded-3 shadow mobile justify-content-center">
        <div class="d-flex flex-column col-10 bg-gray justify-content-center align-items-center">
            <div class="d-flex justify-content-center p-1 mt-3">
                <p class="text-warning text-center w-75" style="font-size: 1.5em;">
                    Para proceder, por favor, envíanos 
                    un mensaje con tu id de transacción, 
                    presionando el botón de abajo e iniciando el chat.
                </p>
            </div>
            <div class="col-12 text-center py-4">
                <button onclick="coordinar()" class="col-5 btn btn-primary form-submit p-2 mt-1 shadow"><strong>INICIAR CHAT</strong></button>
            </div>
            <div class="col-12 text-center py-4">
                <button onclick="copy()" class="col-5 btn btn-primary form-submit p-2 mt-1 shadow text-white" style="background-color: #353a4f;">
                    <strong>Copiar ID</strong> <br/> <i class="fa-regular fa-clipboard"></i>
                </button>
            </div>
        </div>
    </div>
    
    <div class="w-100 p-3 rounded-3 shadow mobile justify-content-center">
        <div class="d-flex flex-column col-10 bg-gray text-center justify-content-center">
            <div class=" mx-4 border-bottom text-center mb-3">
                <p class="form-resumen mb-2 pt-2 text-center">Detalles de orden </br> </br> TRANSACCIÓN ID: <small id="transaction_id"><%= transaction.transaction_id %></small></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Juego:</p>
                <p class="text-white"><strong><%= details[0] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Personaje:</p>
                <p class="text-white"><strong><%= details[4] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Server:</p>
                <p class="text-white"><strong><%= details[2] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Facción:</p>
                <p class="text-white"><strong><%= details[3] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Cantidad: </p>
                <p class="text-white"><strong><%= details[1] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Método: </p>
                <p class="text-white"><strong><%= details[5] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Precio: </p>
                <p class="text-white"><strong>$<%= transaction.amount %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between border-top">
                <p class="form-resumen py-3 text-white-50">Estado: </p>
                <p class="pt-3"><% if (transaction.delivered) { %>
                    <strong style="color: lime">Entregado</strong>
                    <% } else { %>
                    <strong class="text-warning">Pendiente</strong>
                    <% } %>
            </div>
            <a href="https://www.trustpilot.com/review/victorygold.net?languages=es"
                target="_blank"
                class="url"
            ><img
                class="footer-trustpilot my-3"
                src="/images/trustpilot.png"
                alt="Logo Victory Gold"
            /></a>
        </div>
    </div>
</div>

<div class="container justify-content-center desktop">
    <div class="row m-5 text-start col-12 p-3 rounded-3">
        <div class="col-12 d-flex justify-content-center">
            <img
                src="/images/icons/logo.svg"
                alt="logo Victory Gold"
                style="width: 2em; height: 2em"
                class="align-self-center m-2"
            />
            <p class="form-text-desktop mb-0 pb-2 col-8">¡Gracias por tu compra!</p>
        </div>
        <div class="col-8 bg-gray p-3 rounded-3 shadow">
            <div class="d-flex justify-content-center p-5">
                <p class="text-warning text-center w-75" style="font-size: 1.5em;">
                    Para proceder, por favor, envíanos 
                    un mensaje con tu id de transacción, 
                    presionando el botón de abajo e iniciando el chat.
                </p>
            </div>
            <div class="col-12 text-center py-4">
              <button onclick="coordinar()" id="coordinar2" class="col-5 btn btn-primary form-submit p-2 mt-1 shadow"><strong>INICIAR CHAT</strong></button>
            </div>
            <div class="col-12 text-center mt-3">
              <button onclick="copy()" class="col-5 btn btn-primary form-submit text-white p-2 mt-1 shadow" style="background-color: #353a4f;"><strong id="copy"><%= transaction.transaction_id %></strong> <i class="fa-regular fa-clipboard"></i></button>
            </div>
            <% if (transaction.proof) { %>
            <div class="col-12 text-center py-4">
                <p class="text-white">Prueba de entrega: <a class="url" style="color: lime" href="<%= transaction.proof %>"><strong>AQUÍ</strong></a></p>
            </div>
            <% } else { %>
                <div class="col-12 text-center py-4">
                <p class="text-white">Prueba de entrega: <strong class="text-warning">PENDIENTE</strong></p>
                </div>
            <% } %>
        </div>
        <div class="col-3 bg-gray text-white text-center mx-2 rounded-3 shadow">
            <div class=" mx-4 border-bottom text-center mb-3">
                <p class="form-resumen mb-1 pt-5 text-center">Detalles de orden </br> </br> TRANSACCIÓN ID: <small id="transaction_id"><%= transaction.transaction_id %></small></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Juego:</p>
                <p><strong><%= details[0] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Personaje:</p>
                <p><strong><%= details[4] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Server:</p>
                <p><strong><%= details[2] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Facción:</p>
                <p><strong><%= details[3] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Cantidad: </p>
                <p><strong><%= details[1] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Método: </p>
                <p><strong><%= details[5] %></strong></p>
            </div>
            <div class="d-flex mx-4 justify-content-between">
                <p class="text-white-50">Método: </p>
                <p><strong>$<%= transaction.amount %></strong></p>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex mx-4 justify-content-between border-top">
                    <p class="form-resumen py-3 text-white-50">Estado: </p>
                    <p class="pt-3"><% if (transaction.delivered) { %>
                        <strong style="color: lime">Entregado</strong>
                        <% } else { %>
                        <strong class="text-warning">Pendiente</strong>
                        <% } %>
                    </p>
                </div>
                <a href="https://www.trustpilot.com/review/victorygold.net?languages=es"
                    target="_blank"
                    class="url mb-3"
                ><img
                    class="footer-trustpilot"
                    src="/images/trustpilot.png"
                    alt="Logo Victory Gold"
                /></a>
            </div>
        </div>
    </div>
</div>

